.social-media-manager-container {
  .ant-card {
    border-radius: 8px;
  }

  .ant-card-head-title {
    font-weight: 600;
    font-size: 16px;
  }

  .smm-field-item {
    margin-bottom: 16px;
  }

  .smm-field-item__header {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 8px;
    min-width: 0;
  }

  .smm-field-item__label-extra {
    flex-shrink: 0;
  }

  .smm-label {
    font-size: 14px;
    font-weight: 500;
    min-width: 0;
    color: #361e12;
  }

  .smm-required {
    color: #ff4d4f;
    margin-left: 4px;
  }

  .smm-radio-group {
    .ant-radio-wrapper {
      margin-right: 32px;
    }
  }
}
