@primary-color: #c9a961;
@primary-color-hover: #a47f2f;
@primary-color-active: #7b6023;
@primary-fontColor: #361E12;
@primary-gradient: linear-gradient(
  135deg,
  @primary-color 0%,
  @primary-color 100%
);
@primary-bgColor: #bd943714;
@primary-bgColor-strong: #bd94371a;

@success-color: #28a745;
@bg-success-color: #F3FAF4;
@danger-color: #dc3545;
@bg-danger-color: #FEF2F2;
@warning-color: #ffc107;
@bg-warning-color: #FFFBEB;
@info-color: #17a2b8;
@cancelled-color: #5F646D;
@bg-cancelled-color: #E1E3E580;

@text-color: #361e12;
@text-color-secondary: #21252e;
@text-color-table-header: #797e86;
@text-color-disabled: #ccc;
@text-color-content: #767D8C;

@bg-color: #f5f7fa;
@bg-color-light: #fafbfc;
@bg-color-dark: #2c3e50;

@border-color: #e0e0e0;
@border-color-light: #eee;

@table-header-bgColor: #f8f7f4;
@ant-hover-color: @primary-color-hover;
@ant-select-panel-bgColor: @primary-bgColor-strong;
@ant-pagination-active-color: #f2eccf;
@ant-pagination-color: #f8f7f4;
@header-bgColor: @primary-bgColor-strong;
@darger-color:#D83731;
