@import "@/styles/variables.less";

.hover-tooltip-icon {
  color: #999;
  font-size: 16px;
  cursor: pointer;
  margin-left: 4px;
  transition: color 0.2s ease;

  &:hover {
    color: #666;
  }
}
.tooltip-icon {
  width: 16px;
  height: 16px;
  margin-bottom: 2px;
  cursor: pointer;
  margin-left: 4px;
}

.hover-tooltip {
  .ant-tooltip-inner {
    background-color: #fff;
    color: @text-color !important;
    border: 1px solid #e8e8e8 !important;
    border-radius: 8px !important;
    padding: 16px !important;
    font-size: 14px !important;
    line-height: 1.5 !important;
    min-width: 360px;
    text-align: left;
    font-weight: 400;

    ol,
    ul {
      margin: 0;
      padding-left: 20px;

      li {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  .ant-tooltip-arrow {
    &::before {
      background-color: #fff !important;
      border: 1px solid #e8e8e8 !important;
    }
  }
}

html[dir="rtl"] {
  .hover-tooltip {
    .ant-tooltip-inner {
      direction: rtl;
      text-align: right;

      ol,
      ul {
        padding-left: 0;
        padding-right: 20px;
      }
    }
  }
}


.hover-tooltip.ant-tooltip-placement-bottom {
  .ant-tooltip-arrow::before {
    border-bottom-color: transparent !important;
    border-right-color: transparent !important;
  }
}

.hover-tooltip.ant-tooltip-placement-top {
  .ant-tooltip-arrow::before {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
  }
}

.hover-tooltip.ant-tooltip-placement-left {
  .ant-tooltip-arrow::before {
    border-left-color: transparent !important;
    border-bottom-color: transparent !important;
  }
}

.hover-tooltip.ant-tooltip-placement-right {
  .ant-tooltip-arrow::before {
    border-right-color: transparent !important;
    border-top-color: transparent !important;
  }
}
