* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}

.aed-icon {
  width: 26px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
}
/* * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      direction: rtl; 
      text-align: right; 
      font-family: 'Arial', 'Tahoma', sans-serif;
    } */
