.social-media-manager-container {
  .ant-card {
    border-radius: 8px;
  }

  .ant-card-head-title {
    font-weight: 600;
    font-size: 16px;
  }

  .smm-field-item {
    margin-bottom: 16px;
  }

  .smm-label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #361e12;
  }

  .smm-required {
    color: #ff4d4f;
    margin-left: 4px;
  }

  .smm-radio-group {
    .ant-radio-wrapper {
      margin-right: 32px;
    }
  }

  .smm-field-item__feedback {
    margin-top: 6px;
    color: #ff4d4f;
    font-size: 14px;
    line-height: 22px;
  }
}
