.ticket-attachment-form-label {
    display: inline-flex;
    align-items: center;

    &__info {
        position: relative;
        display: inline-flex;
        width: 12px;
        height: 12px;
        margin-inline-start: 4px;
        vertical-align: middle;
        cursor: pointer;
    }

    &__circle {
        display: block;
        width: 12px;
        height: 12px;
    }

    &__mark {
        position: absolute;
        display: block;
        width: 3.17px;
        height: 5.72px;
        top: 3.14px;
        left: 4.42px;
    }
}
