
.address-picker-container {
  .ant-select-selection-search-input {
    height: 100% !important;
  }
  .ant-input {
    border-radius: 0.5rem !important;
  }
  .ant-input:focus,
  .ant-input:hover {
    border-color: #92722a;
    box-shadow: 0 0 0 0.125rem #bd943714;
  }

  width: 100%;

  .address-picker-label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #000;

    .address-picker-required {
      color: #ff4d4f;
      margin-left: 2px;
    }
  }

  .ant-row {
    .ant-col {
      margin-bottom: 16px;
    }
  }

  .address-picker-field-error {
    margin-top: 4px;
    font-size: 14px;
    color: #ff4d4f;
    line-height: 1.5;
  }

  .address-picker-select-error.ant-select:not(.ant-select-disabled):hover
    .ant-select-selector,
  .address-picker-select-error.ant-select-focused:not(.ant-select-disabled)
    .ant-select-selector {
    border-color: #ff4d4f !important;
  }

  .address-picker-select-error .ant-select-selector {
    border-color: #ff4d4f !important;
  }

  .address-picker-input-error.ant-input {
    border-color: #ff4d4f;
  }
}
