.tickets-wrapper{
  height: 100%;
  overflow-y: scroll;
}
.tickets-tabs {
    padding: 0 24px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 16px;
    .ant-tabs-nav{
      margin-bottom: 0;
      .ant-tabs-tab{
        padding: 24px 0;
      }
    }
  /* rwd-ramp */
  @media (max-width: 1919.98px) {
    border-radius: 10px;
  }
}
