.application-tasks-container {
  padding: 24px;
  border-radius: 24px;
  background-color: rgba(255, 255, 255, 1);
  .application-tasks-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .application-tasks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
    grid-gap: 0 16px;
    padding-top: 12px;
  
    .application-tasks-item {
      padding: 12px;
      border-radius: 12px;
      background-color: rgba(255, 255, 255, 1);
      border: 1px solid rgba(225, 227, 229, 1);
      max-width: 356px;
      .item-gap {
        margin-top: 16px;
      }
      .item-status {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item-status-tag {
          border-radius: 4px;
          background-color: rgba(255, 251, 235, 1);
          color: rgba(242, 159, 14, 1);
        }
        .item-remaining {
          color: rgba(146, 114, 42, 1);
        }
      }
      .item-license {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .item-hub {
        line-height: 20px;
        color: rgba(54, 30, 18, 1);
        & :first-child {
          width: 16px;
          height: 16px;
        }
        .hub-name {
          vertical-align: middle;
          margin-left: 8px;
        }
        /* rwd-ramp */
        @media (max-width: 1919.98px) {
          line-height: 16px;
        }
      }
      /* rwd-ramp */
      @media (max-width: 1919.98px) {
        padding: 8px;
      }
    }
  }
  /* rwd-ramp */
  @media (max-width: 1919.98px) {
    padding: 12px;
  }
}