@media (max-width: 1023px) {
  .KnowledgeCenter {
    .knowledgeList {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 768px) {
  .KnowledgeCenter {
    .knowledgeList {
      grid-template-columns: 1fr;
      .knowledgeItem {
        height: auto;
      }
    }
  }
}

.KnowledgeCenter {
  width: 100%;
  border-radius: 20px;
  background-color: #ffffff;
  min-height: 942px;
  padding: 24px;
  .empty-box-wrapper {
    margin-top: 200px;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .knowledgeList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    .knowledgeItem {
      background-color: #F8F7F4;
      height: 264px;
      padding: 20px;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      // gap: 20px;
      cursor: pointer;
      justify-content: space-between;
      img {
        width: 64px;
        height: 64px;
        margin-bottom: 20px;
      }
      .knowledgeItem-title {
        font-family: Inter;
        font-weight: 600;
        font-style: Semi Bold;
        font-size: 20px;
        color: #361e12;
        line-height: 24px;
        letter-spacing: 0px;
         display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
      }
      .knowledgeItem-content {
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 16px;
        color: #797e86;
        line-height: 24px;
        letter-spacing: 0%;
        flex-shrink: 0;
        margin: 12px 0 20px 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden;
      }
      .knowledgeItem-line {
        width: 100%;
        display: flex;
        justify-content: flex-end;
      }
      .knowledgeItem-btn {
        padding: 7px 12px;
        // height: 36px;
        border-radius: 8px;
        background: transparent;
        font-family: Inter;
        font-weight: 500;
        font-style: Medium;
        font-size: 14px;
        color: #92722A;
        // line-height: 36px;
        letter-spacing: 0%;
        text-align: center;
        float: right;
        border: 1px solid #92722A;
        &:hover {
          border: none;
          background: linear-gradient(to right, #8a6530, #a87f45);
          color: #fff;
        }
      }
    }
  }
}
