.designable-emirate-port {
  width: 100%;
}

.emirate-port-option {
  padding: 4px 0;

  .emirate-port-option-label {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    line-height: 22px;
  }

  .emirate-port-option-country {
    font-size: 12px;
    color: #8c8c8c;
    line-height: 18px;
  }
}
