.create-pin-input-group{
        display: flex;
        margin-top: 16px;
        column-gap: 12px;
        justify-content: center;
        .ant-input{
            width: 72px;
            height: 72px;
            border-radius: 8px;
            border-color: #C3C6CB;
            text-align: center;
            cursor: pointer;
            font-family: Inter;
            font-weight: 600;
            font-size: 24px;
            border: 1px solid #C3C6CB;
            padding: 0;
            &:focus{
                border-color: #92722A;
                box-shadow: none;
            }
            &:hover{
                border-color: #92722A;
            }
        }
    }