.avatar-person {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
}
.avatar-person--disabled {
  cursor: default;
}
.avatar-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.avatar-person__camera-overlay {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, rgba(146, 114, 42, 0) 0%, #92722a 100%);
}
.avatar-person__camera-icon {
  width: 20px;
  height: 20px;
}
.avatar-personalPhotoUrl {
  height: 140px;
  margin-bottom: 24px;
}
.add-avatar-person {
  position: relative;
  cursor: pointer;
  background-color: #efeff1;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-avatar-cameraIcon {
  width: 32px;
  height: 32px;
}
