.localized-date-picker.ant-picker-range {
  padding-inline-end: 38px;

  .ant-picker-clear {
    right: 20px;
  }
}

.localized-date-picker.localized-date-picker-rtl.ant-picker .ant-picker-clear {
  right: auto !important;
  left: 22px;
  z-index: 2;
}

.localized-date-picker.localized-date-picker-rtl.ant-picker-range {
  .ant-picker-clear {
    right: auto !important;
    left: 20px;
  }
}

.localized-date-picker.ant-picker-range .ant-picker-active-bar {
  display: none;
}

.localized-date-picker-dropdown,
.localized-date-picker-dropdown.ant-picker-dropdown-rtl,
.localized-date-picker-dropdown .ant-picker-panel-container,
.localized-date-picker-dropdown .ant-picker-panels,
.localized-date-picker-dropdown .ant-picker-panel,
.localized-date-picker-dropdown .ant-picker-header,
.localized-date-picker-dropdown .ant-picker-header-view,
.localized-date-picker-dropdown .ant-picker-date-panel,
.localized-date-picker-dropdown .ant-picker-content,
.localized-date-picker-dropdown .ant-picker-content thead,
.localized-date-picker-dropdown .ant-picker-content tbody,
.localized-date-picker-dropdown .ant-picker-content tr,
.localized-date-picker-dropdown .ant-picker-content th,
.localized-date-picker-dropdown .ant-picker-content td,
.localized-date-picker-dropdown .ant-picker-panel-rtl {
  direction: ltr !important;
}

.localized-date-picker-dropdown {
  .ant-picker-panels {
    flex-direction: row !important;
  }

  .ant-picker-panel {
    order: initial !important;
  }

  .ant-picker-cell {
    text-align: center !important;
  }

  .ant-picker-cell .ant-picker-cell-inner {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center !important;
  }

  .ant-picker-date-panel .ant-picker-header {
    display: grid !important;
    grid-template-columns: 22px 22px 1fr 22px 22px;
    align-items: center;
    min-height: 40px;
  }

  .ant-picker-date-panel .ant-picker-header > button {
    width: 22px;
    min-width: 22px;
    justify-self: center;
  }

  .ant-picker-date-panel .ant-picker-header-view {
    grid-column: 3;
    width: 100%;
    justify-self: center;
    transform: none;
    text-align: center !important;
  }

  .ant-picker-date-panel .ant-picker-header-view button {
    font-family: Inter, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    /* rwd-ramp */
    @media (max-width: 1919.98px) {
      font-size: 12px;
    }
  }

  .ant-picker-date-panel .ant-picker-header-super-prev-btn {
    grid-column: 1;
  }

  .ant-picker-date-panel .ant-picker-header-prev-btn {
    grid-column: 2;
  }

  .ant-picker-date-panel .ant-picker-header-next-btn {
    grid-column: 4;
  }

  .ant-picker-date-panel .ant-picker-header-super-next-btn {
    grid-column: 5;
  }

  .ant-picker-panel-rtl {
    .ant-picker-header-view button:not(:first-child) {
      margin-right: 0;
      margin-left: 8px;
    }

    .ant-picker-prev-icon,
    .ant-picker-super-prev-icon {
      transform: rotate(-45deg);
    }

    .ant-picker-next-icon,
    .ant-picker-super-next-icon {
      transform: rotate(135deg);
    }
  }
}

.localized-date-picker-dropdown.ant-picker-dropdown-rtl {
  .ant-picker-panels > .ant-picker-panel:first-child {
    order: 2 !important;
  }

  .ant-picker-panels > .ant-picker-panel:nth-child(2) {
    order: 1 !important;
  }
}
