.scroll-box-wrapper{
  padding-bottom: 14px;
}

.scroll-box-wrapper .simplebar-content-wrapper{
  overflow-y: hidden !important;
}

.scroll-box-wrapper .simplebar-content{
  display: flex;
  column-gap: 16px;
}

.scroll-box-wrapper .simplebar-content > *{
  flex-shrink: 0;
  padding: 20px;
  background: #FFFFFF;
  width: 376px;
  height: 176px;
  min-width: 320px;
  border-radius: 10px;
  margin-top: 24px;
}
