@primary-color: #92722a;
@primary-gradient: linear-gradient(
  135deg,
  @primary-color 0%,
  @primary-color 100%
);
@primary-bgColor: #bd943714;
@primary-fontColor: #361E12;

@success-color: #28a745;
@bg-success-color: #F3FAF4;
@high-color: #EA4F49;
@bg-high-color: #FEF2F2;
@danger-color: #dc3545;
@bg-danger-color: #FEF2F2;
@warning-color: #ffc107;
@bg-warning-color: #FEF5EE;
@info-color: #17a2b8;
@bg-info-color: #E7F5FF;
@gary-color: #5F646D;
@bg-gary-color: #E1E3E580;

@text-color: #361e12;
@text-color-secondary: #21252e;
@text-color-table-header: #797e86;
@text-color-disabled: #ccc;
@text-color-content: #767D8C;

@bg-color: #f5f7fa;
@bg-color-light: #fafbfc;
@bg-color-dark: #2c3e50;


@border-color: #e0e0e0;
@border-color-light: #eee;

@table-header-bgColor: #f8f7f4;
@ant-hover-color: #cba344;
@ant-select-panel-bgColor: #bd94371a;
@ant-pagination-active-color: #f2eccf;
@ant-pagination-color: #f8f7f4;
@header-bgColor:#BD94371A;
@darger-color:#D83731;