.seo-form {
  .ant-form-item-required {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    /* rwd-ramp */
    @media (max-width: 1919.98px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .search-input {
    height: 48px;
    width: 100%;
  }
  .search-input::placeholder {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #8C8C8C;
    /* rwd-ramp */
    @media (max-width: 1919.98px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .seo-textarea{
    .ant-input::placeholder {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #8C8C8C;
      /* rwd-ramp */
      @media (max-width: 1919.98px) {
        font-size: 12px;
        line-height: 16px;
      }
  }
  }
}
