@import "@/styles/variables.less";

.right-card.application-overview-card {
    padding: 0;
    border-radius: 20px;
    background-color: #fff;
    overflow: hidden;
    @media (max-width: 1919.98px) {
      border-radius: 10px;
    }
    .application-overview-card__body {
      padding: 0 24px 24px;

      > div.feild-item:first-child {
        margin-top: 0;
      }
    }
    .card-tag {
      padding: 12px 20px;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 12px;
      .tag-label {
        color: @text-color;
        font-size: 14px;
        /* rwd-ramp */
        @media (max-width: 1919.98px) {
          font-size: 12px;
        }
      }
      .tag-value {
        font-weight: 500;
        font-size: 18px;
        /* rwd-ramp */
        @media (max-width: 1919.98px) {
          font-size: 16px;
        }
      }
    }
    .danger {
      background: #fef2f2;
      .tag-value {
        color: #ea4f49;
      }
    }
    .warn {
      background: #f9f7ed;
      .tag-value {
        color: @primary-color;
      }
    }
    .feild-item {
      margin-top: 24px;
      .feild-label {
        font-weight: 400;
        font-size: 14px;
        color: #5f646d;
        /* rwd-ramp */
        @media (max-width: 1919.98px) {
          font-size: 12px;
        }
      }
      .feild-value {
        font-weight: 500;
        font-size: 16px;
        color: @text-color;
        margin-top: 6px;
        overflow-wrap: break-word;
        word-break: break-word;
        /* rwd-ramp */
        @media (max-width: 1919.98px) {
          font-size: 14px;
        }
      }
      .phone-number-value {
        direction: ltr;
        unicode-bidi: plaintext;

        &--rtl {
          text-align: right;
        }
      }
      .vip_text {
        display: inline-block;
        padding: 4px 12px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        margin-right: 8px;
        &.vip {
          background-color: #FEF5EE;
          color: #EB5F24;
        }
        &.standard {
          background-color: #e1e3e5;
          color: #5F646D;
        }
        /* rwd-ramp */
        @media (max-width: 1919.98px) {
          font-size: 12px;
        }
      }
      .profile_status {
        display: inline-block;
        padding: 4px 12px;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 500;
        
        
        &.status_id_default {
          background-color: #F3FAF4;
          color: #4A9D5C;
        }
        &.status_id_Approved {
          background-color: #F3FAF4;
          color: #4A9D5C;
        }
        &.status_id_Expired {
          background-color: #FEF2F2;
          color: #EA4F49;
        }
        /* rwd-ramp */
        @media (max-width: 1919.98px) {
          font-size: 12px;
        }
      }
    }
    .entry-box {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      .entry-item {
        display: flex;
        align-items: center;
        padding: 12px 16px;
        border-radius: 10px;
        background-color: #f8f7f4;
        img {
          width: 16px;
          height: 16px;
          margin-inline: 8px;
        }
        .entry-name {
          font-weight: 400;
          font-size: 14px;
          color: @text-color;
          flex: 1;
          /* rwd-ramp */
          @media (max-width: 1919.98px) {
            font-size: 12px;
          }
        }
        .entry-value {
          font-weight: 500;
          font-size: 14px;
          color: @text-color;
          /* rwd-ramp */
          @media (max-width: 1919.98px) {
            font-size: 12px;
          }
        }
      }
    }
    .costom-timeline {
      margin-top: 24px;
      .nomal-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #9ea2a9;
      }
      .active-dot {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #d7bc6d;
      }
      .timeline-title {
        font-weight: 500;
        font-size: 16px;
        color: @text-color;
        /* rwd-ramp */
        @media (max-width: 1919.98px) {
          font-size: 14px;
        }
      }
      .info-box {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        .info-item {
          display: flex;
          align-items: center;
          gap: 4px;
          img {
            width: 16px;
            height: 16px;
            margin-right: 4px;
          }
          span {
            font-weight: 400;
            font-size: 14px;
            color: #5f646d;
            /* rwd-ramp */
            @media (max-width: 1919.98px) {
              font-size: 12px;
            }
          }
          .icon-style {
            align-self: flex-start;
          }
          .info-content {
            color: #5F646D;

            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            & :first-child{
              font-weight: 500;
            }

            .approval-result{
              display: inline-block;
              border-radius: 4px;
              padding: 0 6px;
              color: #F29F0E;
              font-size: 14px;
              background-color: #FFFBEB;
              margin-left: 4px;
              /* rwd-ramp */
              @media (max-width: 1919.98px) {
                font-size: 12px;
              }
            }
            .ExternalApproval {
              color: #F29F0E;
              background-color: #FFFBEB;
            }
            .Completed,
            .Approval {
              color: #4A9D5C;
              background-color: #F3FAF4;
            }
            .FinalApproval,
            .InitialApproval {
              color: #EB5F24;
              background-color: #FEF5EE;
            }
            .Cancelled {
              color: #5F646D;
              background-color: rgba(225, 227, 229, .5);
            }
            .Rejected {
              color: #EA4F49;
              background-color: #FEF2F2;
            }
            /* rwd-ramp */
            @media (max-width: 1919.98px) {
              font-size: 12px;
            }
          }
        }
        .overview-attach {
          margin-top: 8px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 4px 8px;
          border-radius: 10px;
          background-color: rgba(248, 247, 244, 1);
          font-family: Inter;
          font-weight: 500;
          font-style: Medium;
          font-size: 14px;
          letter-spacing: 0px;
          cursor: pointer;
          .attach-title {
            img {
              height: 16px;
              width: 16px;
            }
            .title-text {
              margin-left: 8px;
              vertical-align: middle;
            }
          }
          .attach-value {
            color: #92722A;
          }
          /* rwd-ramp */
          @media (max-width: 1919.98px) {
            font-size: 12px;
          }
        }
      }
    }
  /* rwd-ramp */
  @media (max-width: 1919.98px) {
    padding: 0;
  }
  }
