@import "@/styles/variables.less";

.idselector-container {
  .idselector-radio-group {
    margin-bottom: 16px;

    .ant-radio-wrapper {
      margin-right: 32px;
    }
  }

  .idselector-row {
    margin-top: 8px;
    row-gap: 24px;

    .ant-col {
      margin-bottom: 0;
    }
  }

  .idselector-label {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: @text-color;
    margin-bottom: 8px;
  }

  .idselector-required {
    color: #ff4d4f;
  }

  .ant-picker {
    display: flex;
    align-items: center;
    height: 48px;
  }

  .idselector-query-input {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
  }

  .idselector-query-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    min-width: 48px;
    height: 48px;
    padding: 0;
    border-radius: 8px;
    outline: none;
    background: linear-gradient(to right, #8a6530, #a87f45);
    &:hover {
      border-color: unset;
      background: linear-gradient(to right, #8a6530, #a87f45);
    }
  }
  .ant-formily-item {
    margin-bottom: 0;
    border-radius: 8px;

    .ant-formily-item-control {
      border-radius: 8px;
      min-height: 0;
    }

    .ant-formily-item-control-content {
      border-radius: 8px;
      min-height: 48px;

      > input.ant-input {
        height: 48px;
        border-radius: 8px;
      }

      > input.ant-input:hover {
        border-color: #cba344 !important;
      }

      > input.ant-input:focus {
        box-shadow: none;
      }
    }
  }

  .ant-formily-item:has(.document-viewer-wrapper) {
    .ant-formily-item-control-content,
    .ant-formily-item-control-content-component {
      min-height: 0;
      line-height: normal;
    }
  }
}

@media (max-width: 768px) {
  .idselector-row {
    .ant-col {
      flex: 0 0 100% !important;
      max-width: 100% !important;
    }
  }
}
