.formliy-divider{
    margin: 0;
    line-height: 100%;
    // margin-top: 15px;
}

.ant-formily-item:has(.Formliy_AntdDivider) {
    .ant-formily-item-control-content-component {
        min-height: 0 !important;
    }
}
