.avatar-person {
  position: relative;
  cursor: pointer;
}
.avatar-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.avatar-cameraIcon {
  width: 28px;
  height: 28px;
  position: absolute;
  bottom: 16px;
  left: 46px;
}
.avatar-personalPhotoUrl {
  height: 140px;
  margin-bottom: 24px;
}
.add-avatar-person {
  position: relative;
  cursor: pointer;
  background-color: #efeff1;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-avatar-cameraIcon {
  width: 32px;
  height: 32px;
}
