.formily-textarea-count.ant-input-textarea-show-count::after,
.formily-textarea-count .ant-input-textarea-show-count::after {
  margin-top: 4px;
  color: #797e86;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  text-align: right;
}
