.country-dropdown-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    height: 100%;
    
    .country-flag-image {
        width: 36px;
        height: 36px;
        object-fit: cover;
        border-radius: 50%;
        flex-shrink: 0;
    }
    
    .country-dropdown-option-label {
        color: #361E12;
        font-family: Inter;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        flex: 1;
    }
    
    .country-dropdown-option-label-description {
        overflow: hidden;
        color: #797E86;
        text-overflow: ellipsis;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 16px; 
    }
}