.select-option-with-desc {
  padding: 4px 0;

  .select-option-title {
    font-size: 14px;
    font-weight: 600;
    color: #262626;
    line-height: 22px;
  }

  .select-option-desc {
    font-size: 12px;
    color: #8c8c8c;
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
  }
}

.designable-select-multi.ant-select-multiple {
  .ant-checkbox-inner {
    background-color: #92722a;
    border-color: #92722a;
  }

  .ant-select-selection-search {
    margin-inline-start: 0;
  }

  .designable-select-multi-selection-item {
    display: flex;
    min-width: 0;

    > * + * {
      margin-inline-start: 8px;
    }
  }

  .designable-select-multi-option > * + * {
    margin-inline-start: 8px;
  }

  &.ant-select-disabled {
    .ant-select-selection-item {
      border: 0;
    }

    .ant-checkbox-wrapper {
      display: none;
    }

    .designable-select-multi-selection-item span,
    .designable-select-multi-option span {
      margin-inline-start: 0 !important;
    }
  }
}

.designable-select-multi-dropdown {
  .ant-select-item-option-state {
    display: none;
  }

  .ant-checkbox-inner {
    background-color: #fff;
    border-color: #c3c6cb !important;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #92722a;
    border-color: #92722a !important;
  }

  .designable-select-multi-select-all {
    padding: 4px 8px;
  }

  .designable-select-multi-select-all-checkbox.has-selection .ant-checkbox-inner::after {
    display: block;
    width: 8px;
    height: 2px;
    border: 0;
    background: #fff;
    transform: rotate(0deg) scale(1) translate(-50%, -50%);
  }

  .designable-select-multi-option {
    display: flex;
    align-items: center;

    > * + * {
      margin-inline-start: 8px;
    }
  }
}
