.Registration-form {
  .registration-switch {
    background-color: #92722a;
    width: 52px;
    height: 24px;
    .ant-switch-handle{
      top: 3px;
    }
  }
  .registration-switch-item {
    label {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      color: #361e12;
      line-height: 20px;
      letter-spacing: 0px;
      /* rwd-ramp */
      @media (max-width: 1919.98px) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
  .ant-form-item-control-input {
    height: 48px;
    display: flex;
    align-items: center;
  }
  #publishTime::placeholder {
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    color: #797e86;
    line-height: 20px;
    letter-spacing: 0px;
    /* rwd-ramp */
    @media (max-width: 1919.98px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .ant-form-item-required {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    /* rwd-ramp */
    @media (max-width: 1919.98px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .search-input {
    height: 48px;
    width: 100%;
  }
  .search-input::placeholder {
    font-family: Inter;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    color: #8c8c8c;
    /* rwd-ramp */
    @media (max-width: 1919.98px) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .seo-textarea {
    .ant-input::placeholder {
      font-family: Inter;
      font-weight: 500;
      font-style: Medium;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;
      color: #8c8c8c;
      /* rwd-ramp */
      @media (max-width: 1919.98px) {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}
