.custom-status-tag {
  align-items: center;
  background-color: #f8f7f4;
  border-radius: 4px;
  display: inline-flex;
  font-size: 14px;
  font-weight: 500;
  gap: 8px;
  height: 26px;
  justify-content: center;
  line-height: 20px;
  padding: 2px 6px;
  white-space: nowrap;
}

.custom-status-tag--warn {
  background-color: #fffbeb;
  color: #f29f0e;
}

.custom-status-tag--success {
  background-color: #f3faf4;
  color: #4a9d5c;
}

.custom-status-tag--error {
  background-color: #fef2f2;
  color: #ea4f49;
}

.custom-status-tag--alert {
  background-color: #fef5ee;
  color: #eb5f24;
}

.custom-status-tag--fill-error {
  background-color: #ea4f49;
  color: #ffffff;
}

.custom-status-tag--info {
  background-color: #f5f5f6;
  color: #5f646d;
}

.custom-status-tag--cancelled {
  background-color: #f5f5f6;
  color: #5f646d;
}

.custom-status-tag--resolved {
  background-color: #e7f5ff;
  color: #286cff;
}
