* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}

* {
  -ms-overflow-style: none;
}
.ant-table-cell.actions-column {
  white-space: nowrap;
  text-align: start;
}
body {
  background:#f5f4f3;
}