.news-table {
  padding: 24px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 1);

  .event-no-cell {
    display: inline-block;
    max-width: 100%;
    white-space: normal;
    word-break: break-all;
    overflow-wrap: break-word;
  }

  .ant-table .ant-table-tbody > tr > td {
    height: 76px;
  }

  .status-tag {
    display: inline-block;
    white-space: nowrap;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    border-radius: 4px;
    padding: 3px 6px;
    /* rwd-ramp */
    @media (max-width: 1919.98px) {
      font-size: 12px;
    }
  }
  .PendingReview {
    background-color: rgba(255, 251, 235, 1);
    color: rgba(242, 159, 14, 1);
  }

  .Draft,
  .Unpublished {
    color: rgba(95, 100, 109, 1);
    background-color: rgba(225, 227, 229, 0.5);
  }

  .Published {
    color: rgba(74, 157, 92, 1);
    background-color: rgba(243, 250, 244, 1);
  }

  .Rejected {
    color: rgba(234, 79, 73, 1);
    background-color: rgba(254, 242, 242, 1);
  }

  .add-news-btn {
    // margin-left: 12px;
  }
  /* rwd-ramp */
  @media (max-width: 1919.98px) {
    border-radius: 10px;
  }
}
